/* map div and all it's parents must have a set height or else the google map doesn't work */
/*html {
	height: 100%
}*/

/*body {
	height: 100%;
	background-color: red;
	color: #383838;
}*/

/* Info window size */
.info-window {
	width: 250px;
}

/* Style the pic of the course that is returned */
.course-pic {
	float: left;
	margin-right: 15px;
}
/* Holds everything that isn't mobile-only */
.container {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;
	left: 0px;
	z-index: 5;
}

.map {
	float: right;
	height: 100%;
	width: 75%;
}


/* vvv everything menu/search/list related */
.course-menu {
	width: 25%;
	height: 100%;
	float: left;
	overflow-y: scroll;
}

input {
	width: 90%;
	margin: auto;
}

ul {
	padding: 0 0 0 10px;
	list-style: inside;
}

li {
	margin: 0.8em 0 0 0;
}

li span {
	text-decoration: underline;
	cursor: pointer;
}
/* ^^^ everything menu/search/list related */



/* vvv infowindow stuff vvv */
/*.infowindow {
	border: 1px #383838 solid;
	border-radius: 0px;
	padding: 1em;
}*/

.course-name {
	color: green;
	text-align: center;
	margin: 0 0 5px 0;
}

.rating {
	border: 1px #717171 solid;
	border-radius: 5px;
	padding: 0.2em;
}

.rating:first-of-type {
	margin: 0 0 5px 0;
}

.rating * {
	display: inline;
	margin: auto 2px;
}
/* ^^^ infowindow stuff ^^^*/



/* vvv mobile stuff vvv*/
.mobile-menu {
	height: 32px;
	display: none;
}

.mobile-places {
	float: left;
	width: 350px;
	height: 100%;
	padding-top: 40px;
}
/* ^^^ mobile stuff ^^^ */


/* tablet sized */
@media (max-width: 780px) {
	body {
		font-size: 12px;
	}
}

/* phone sized */
@media (max-width: 500px) {

	.mobile-menu {
		display: inline;
		margin: 0px;
		padding: 0px;
	}

	.menu {
		display: none;
	}

	.mobile-search {
		font-size: 20px;
		height: 24px;
		width: calc(100%);
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 4px;
		left: 34px;
	}

	.mobile-menu-icon {
		margin: 0px;
		padding: 0px;
	}

	.map {
		width: 100%;
		height: calc(100%);
	}

}

/* make sure the mobile list is hidden when transitioning to bigger screens */
@media (min-width: 500px) {
	.container {
		left: 0px !important;
	}
}